.container {
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  margin: 20px;
}

@media only screen and (min-width: 1000px) {
  .container {
    grid-template-columns: 1fr 800px 1fr;
  }
}

section {
  grid-column: 2 / 3;
  color: red;
  box-shadow: 1px 3px 5px #888888;
}
